:root {
  --my-background-color: #7e3c7e94;
}
.nearArticle{
  color: #777;
  margin:20px 0 36px;
}
.showItem{
  line-height: 30px;
}
.showItem a{
  color: #777;
}

.commentHead{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 8px;
  margin-bottom: 20px;
}
.headTit{
  font-size: 18px;
  margin:0;
  font-weight: bold;
}
.commentNum{
  color: var(--my-background-color);
  font-size: 14px;
  font-weight: bold;
  margin-right: 4px;

}
.headRight{
  font-size: 13px;
}
.headRight span{
  display: inline-block;
  vertical-align: baseline;

}
.loginAlert{
  font-size: 14px;
  color: #555;

}
.loginBtn{
  color: var(--my-background-color);
  cursor: pointer;
}


.userImg{
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.commentItem{
  display: flex;
  flex:1;
  padding: 30px 0 30px;

  border-bottom: 1px solid #f6f6f6;

}
.itemTop{
  display: flex;
  flex:1;
  justify-content: space-between;
  margin-bottom: 10px;

}
.itemRight{
  display: flex;
  flex:1;
  margin-left: 5%;
  flex-direction: column;
}
.itemMid{

}
.comItemName{
  color:var(--my-background-color);
  flex:1;
  display: inline-flex;
  align-items: center;
}
.comItemDate{
  color:#8590a6;
  font-size: 13px;
}
.comItemText{
  color:#444;
  margin-bottom: 0;
  line-height: 22px;
  font-size: 13px;
  margin: 5px 0;
}

.gradeIcon{
  display: inline-flex;
  height: 20px;
  min-width: 62px;
  border-radius: 20px;
  border: 1px solid var(--my-background-color);
  margin-left: 3%;
  line-height: 1;
  position: relative;
  font-size: 12px;
  align-items: center;
  flex-wrap: nowrap;
  /* padding: 0 4px; */

}
.gradeIcon::before{
  content: attr(grade);
  /* position: absolute;
  left:0;
  top:0; */
  border-radius: 100%;
  width: 19px;
  height: 19px;
  background: var(--my-background-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color:#fff;
  line-height: 1;
  margin-right: 6%;
}
.gradeIcon[grade='1']{

}

.replyList{
  background: #f2f2f2;
  padding: 14px;
  margin-top: 16px;
  border-radius: 4px;
}
.replyRightBtns{
  display: flex;
  justify-content: flex-end;
}

.replyInputBox{

  padding: 20px 0 10px;
  color:#8590a6;
}
.replyInput{
  width: 100%;
  background: #f6f6f6;
  border: 1px solid #ebebeb;
  padding: 5px 10px;
  transition: background .2s;
  border-radius: 3px;
  color:#333;
  height: 34px;
}

.replyInput:focus{
  background: #fff;
  outline: 1px solid var(--my-background-color);
}
.replyIconStyle{
  font-size: 14px;
  margin-right: 3px;
}
.replyLikeBtn{
  margin: 0 10px;

}

.inputBtns{
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  margin-top: 14px;
}
.commentBtn{
  background: var(--my-background-color);
  width: 50px;
  height: 28px;
  border-radius: 2px;
  color: #fff;
  margin-left: 30px;
  transition: all .2s;
}

.replyInputPanel{
  display: none;
}
.openInput{
  display: block;
}
.commentSubmitBox{
  display: flex;
  align-items: center;
  order:2;
}

.smallBtns{
  display: flex;
  justify-content: flex-end;
  color:#8e8e8e;
}
.smallInputBtns{
  display: flex;
  justify-content: flex-end;
}
.smallInputBox{
  display: none;
  padding: 20px 0 10px;
}

.smallCancel{
  color:#8e8e8e;
}
.smallInputBtns{
  padding: 10px 0;
}

.commentBox{
  display: flex;
  width: 100%;
  flex-direction: column;
}
.commentList{
  order:2;
}
.commentBoard{
  order:1;
  margin-top: 20px;
}
