.footerBar{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  background: #2e2f31;
  flex-direction: column;
  color: #fefefe;
  font-size: 12px;
  /* margin-top: 40px; */
}
