.footerBar{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  background: #7e3c7e94;
  flex-direction: column;
  color: #fefefe;
  font-size: 12px;
  /* margin-top: 40px; */
}
.github{
  font-size: 20px;
  color:#fff;
}
