:root {
  --my-background-color: #7e3c7e94;
}
.errText{
  color:#999;
  font-size: 12px;
}

.loading{
  text-align: center;
}

.spinStyle{
  padding: 30px 0;
}
.loading i{
  background-color: var(--my-background-color);
}
.loadingWhite i{
  background-color: #fff;
}
