
.mySetting{
  composes: modulePanel from global;
}

.settingHead{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.userImgBox{
  width: 100px;
  height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  position: relative;
}
.userImgBox img{
  width: 100%;
  border-radius: 100%;

}
.userName{
  font-size: 16px;
  font-weight: bold;
  margin: 20px 0;
}
.settingTitle{
  font-size: 18px;
  color:#1a1a1a;
  line-height:  60px;
  margin-top: 20px;
  border-bottom: 1px solid #ececec;
}
.settingList{
  margin: 20px 0;
}
.settingItem{
  border-bottom: 1px solid #f6f4f4;
  color:#444;
  height: 40px;
  line-height: 40px;
}
.iconBg{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.4);
  display:flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .2s;
}
.iconBg:active{
  background: rgba(0,0,0,.6);
}
.setImgIcon{
  color:#fff;
  opacity: .8;
  font-size: 40px;
}
.imgInput{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}
