:root {
  --my-background-color: #7e3c7e94;
}
.pageNav{
  background: #fff;
  padding: 14px 3%;
  border-radius: 10px;
  font-size: 13px;
}

.itemNav{
  color:var(--my-background-color);
}

.itemNav:last-child{
  color:#666;
}
.arrowRight{
  color:#666;
  padding: 0 1%;
}
